
<h1 class="alert alert-info this-works">Hello World</h1>
<%= redux_store("SharedReduxStore", props: @books) %>
<%= react_component("ReadingListApp",  prerender: false, trace: true, id: "ReadingListApp-react-component-0") %>
